@media (prefers-reduced-motion: no-preference){* {
    scroll-behavior: smooth;
  }}

:root{
    
    --color-dark-yellow: #F2C53D;
    --color-light-orange: #F29F05;
    --color-dark-orange: #BF4904;
    --color-background: #591902;
    --title-color:black;
    --white: #F2F2F2;

}

*
{
    color: var(--white);
}

body {/* body element */
    background-color: var(--color-background);
    margin: 0%;
    padding: 0%;
    
     
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
   
}



#nav-tab{/* contains the two title divs */
    bottom: 0;
    top:0; 
   
    background: linear-gradient(var(--color-dark-yellow),var(--color-dark-orange));
 
    position: sticky;
    display: block;
   
    
    height: fit-content;
    font-size: small;
    
}

h1{
   
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;

}

#main-title{/* main title element */
    color: var(--title-color);
   
    
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

#nav-buttons{/* the element containing nav-buttons */
   
    justify-content: flex-end;
    padding: 0%;
    margin: 0;
   

    
    width: 100vw;
   
    display: flex;
}

.buttons{/*nav-buttons*/
    
    width: 100%;
    padding-top: 0%;
    margin: 0;
    
    
    padding-right: 2%;
    font-size: 80%;
    padding-bottom: 0;
    transition: transform ease 300ms;
}

.buttons:hover{
    transform: translate(0,-5px);
}
a{
   
    text-decoration: none;
    
}

a:hover{
   
   
}




#content{/* contains the meat of the site, how to's */
   
    align-self: center;
    width: 100%
   
   
    
   
    
}


.sections{/* element containing each sections content */
   text-align: center;
   display: flex;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 2%;
   
}
.section-title{/* title of sections */
    background: linear-gradient(to left,var(--color-dark-yellow),var(--color-dark-orange));
    width: 100%;
    border-radius: 5000000px;
    align-self: center;
    color: var(--white);
}

.video-wrapper {/* element containing video content*/
    text-align: center;
   
  
}

iframe{
    min-width: 250px;
}





.video-description{/* element containing video description text*/
   /* display: none; */
   text-align: left;
}

