@media (prefers-reduced-motion: no-preference){* {
    scroll-behavior: smooth;
  }}

:root{
    --base-color: rgb(178, 189, 198);
}

body {/* body element */
    background-color: var(--base-color);
    margin: 0%;
    padding: 0%;
     
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0%;
   
}



#nav-tab{/* contains the two title divs */
    bottom: 0;
    top:0; 
    background-color: darkgrey;
 
    position: sticky;
    
    height: fit-content;
    font-size: small;
    
}

h1{
   
    padding: 0;
    margin-top: 0;

}

#main-title{/* main title element */
    color: black;
    
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
}

#nav-buttons{/* the element containing nav-buttons */
   
    justify-content: flex-end;
    padding: 0%;
    margin: 0;
   

    
    width: 100%;
   
    display: flex;
}

.buttons{/*nav-buttons*/
    
    width: 100%;
    padding-top: 0%;
    margin: 0;
    
    
    padding-right: 2%;
    font-size: 80%;
    padding-bottom: 0;
    
   
}




#content{/* contains the meat of the site, how to's */
   
    align-self: center;
   
   
    
   
    
}


.sections{/* element containing each sections content */
   text-align: center;
   display: flex;
    flex-direction: column;
    padding: 2%;
    margin-bottom: 2%;
   
}
.section-title{/* title of sections */
    background-color: bisque;
    width: 80%;
    border-radius: 10%;
    align-self: center;
    color: black;
}

.video-wrapper {/* element containing video content*/
    text-align: center;
   
  
}

iframe{
    min-width: 250px;
}





.video-description{/* element containing video description text*/
}

